 <!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You have added the following new post "<%= @post.title %>"</h1>
     <p>
       <%= @post.body %>
     </p>
   </body>
 </html>